@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans Variable', sans-serif;
}

.leaflet-container .leaflet-tile-pane img {
  filter: saturate(50%)opacity(70%);
}

@layer base {
  :root {
    --background: 30, 18%, 96%;
    --foreground: 0, 0%, 0%;

    --card: 30, 18%, 96%;
    --card-foreground: 0, 0%, 0%;

    --popover: 0, 18%, 96%;
    --popover-foreground: 0, 0%, 0%;

    --primary: 0, 0%, 0%;
    --primary-foreground: 30, 18%, 96%;

    --secondary: 30, 18%, 96%;
    --secondary-foreground: 0, 0%, 0%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 207, 67%, 49%;
    --accent-foreground: 30, 18%, 96%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --chart-1: 32, 67%, 72%;
    --chart-2: 178, 53%, 54%;
    --chart-3: 17, 57%, 89%;
    --chart-4: 252, 12%, 39%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sand: 30, 18%, 96%;
    --ocean: 207, 67%, 49%;
    --plastics: 32, 67%, 72%;
    --nets: 178, 53%, 54%;
    --metal: 17, 57%, 89%;
    --rubber: 252, 12%, 39%;
    --port: 221, 72%, 33%;
    --recycler: 139, 58%, 41%;
    --factory: 261, 71%, 45%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}